@import "./base.css";

#app {
  margin: 0 auto;
  font-weight: normal;
}

/* tooltip */
.tippy-box {
  background: #1a1a1a;
  border: 2px solid #6c6c6c;
  border-radius: 0 5px 5px 5px !important;
  padding: 0 !important;
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #969696;
  font-weight: 400;
  text-transform: uppercase;
  transition: opacity 0.1s;
}

/* scrollbar */
.c {
  height: 200vh;
  width: 960px;
  margin: auto;
  max-width: 95%;
}

::-webkit-scrollbar-track {
  border: 1px solid #454545;
  width: 10px;
  background-color: #242223;
}

::-webkit-scrollbar {
  border: 1px solid #454545;

  width: 3px;
  background-color: #d9d9d9;
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
